# Python
__pycache__/
*.pyc
**/*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/فا

# IDE files
.idea/
*.swp

# Data base
**/migrations/0*.py
db.sqlite3

# Static and media folders
media/

# .env
.env

# Logs
logs/*